.current-weather {
  text-align: center;
  background-color: #ffffff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.current-weather img {
  width: 60px;
  height: 60px;
}
.current__weather__main {
  display: flex;
  width: 300px;
  height: 150px;
  border-radius: 9px;
  border: 2px solid #6892a3;
  padding: 5px;
  justify-content: space-between;
  background-color: #6892a3;
  opacity: 0.6;
}
.weather__img {
  width: 130px;
}

.weather__details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}
.degree {
  font-size: 1.5rem;
}
.current__weath {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  color: white;
  flex-wrap: wrap;
}
.wind__title {
  font-size: 1.2rem;
  margin-bottom: 5px;
  margin-left: 10px;
}
.curr_wind {
  display: flex;
  flex-direction: column;
}
.wind__details {
  display: flex;
  width: 200px;
  height: 130px;
  border-radius: 9px;
  border: 2px solid #6892a3;
  padding: 5px;
  justify-content: space-between;
  background-color: #6892a3;
  opacity: 0.6;
  padding: 0rem 1rem;
}
.wind__details__main {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 400;
}
.wind__icon {
  display: flex;
  justify-content: center;
}
.wind__img {
  width: 70px;
}
