.navbar__main {
  display: flex;
  height: 80vh;
  // width: 20%;
  flex-direction: column;
  // background-color: rgb(27, 120, 242);
  font-size: 1.1rem;
  font-weight: 500;
}
.nav__list {
}
ul {
  list-style: none;
  li {
    margin: 2rem 2.5rem;
  }
}

@media (max-width: 599px) {
  .navbar__main {
    display: flex;
    height: 10vh;
    // width: 20%;
    flex-direction: row;
    // background-color: rgb(27, 120, 242);
    font-size: 1.1rem;
    font-weight: 500;
  }
  .nav__list {
  }
  ul {
    list-style: none;
    li {
      margin: 2rem 2.5rem;
    }
  }
}
