.weather__info__main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.weather__forecast__main {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
